<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle de Acesso E Ponto</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" lang="javascript" src="js/jquery-1.3.2.min.js"></script>
    
</head>
<body>
    <div class="conteiner">
        <div class="acessologin">
            <div class="acessotitulo">
                <h2 class="tituloacesso">Ponto e Acesso</h2>
            </div>
            <div class="acessoform">
                <form id="myform" name="myform" onsubmit="enviar(this)">
                    <div class="formdispo">
                        <input type="text" class="login" name="username" id="username" placeholder="Nº Registro">
                        <input type="password" class="login" name="password" id="password" placeholder="Password">
                        <div class="forgetpass">
                            <a href="#" class="forgetlink">Forget Password</a>
                        </div>
                        <button type="button" class="buttonclass" onclick="enviar2()">Entrar</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" lang="javascript" src="js/jsPrincipal.js"></script>
</body>
</html>