<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle de Acesso E Ponto</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="conteiner">
        <div class="acessologin">
            <div class="acessotitulo">
                <h2 class="tituloacesso">Ponto e Acesso</h2>
            </div>
            <div class="acessoform">
                <form method="post">
                    <div class="formdispo">
                        <input type="text" class="login" name="login" placeholder="Nº Registro">
                        <input type="password" class="login" name="password" placeholder="Password">
                        <div class="forgetpass">
                            <a href="#" class="forgetlink">Forget Password</a>
                        </div>
                        <input type="submit" class="buttonclass">

                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>